@font-face {
	font-family: "San Francisco";
	font-weight: 400;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

* {
	font-family: "San Francisco", sans-serif;
}

/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
}

header {
	background: transparent;
	backdrop-filter: blur(10px);
	position: sticky;
	z-index: 1;
	top: 0px;
	width: 100%;
}

nav {
	display: flex;
	justify-content: space-between;
	padding-left: 1em;
	background-color: #181818ce;
	height: 3em;
}

nav a {
	display: flex;
}

nav img {
	width: 1.1em;
	filter: invert();
}

ul {
	display: flex;
	align-items: center;
	list-style: none;
	gap: 0.8em;
}

nav button {
	border: none;
	background: transparent;
	padding: 0 1em;
}

nav button img {
	width: 1.8em;
}


main section {
	display: flex;
	justify-content: start;
	flex-direction: column;
	background-color: black;
	align-items: center;
}

main section:first-child {
	height: 55em;
}



main section p {
	color: rgba(255, 255, 255, 0.5);
	font-size: 21px;
	width: 75%;
	text-align: center;
	font-weight: 900;
}



main section:first-child p {
	padding: 1em 0;
}

main section:first-child img {
	width: 95%;
	padding-top: 3em;
}

main section:nth-of-type(2) img {
	width: 75%;
	padding: 2em;
}


main section:nth-of-type(2) img:last-child {
	width: 100%;
	padding: 1em 4em 0 4em;
}

main section:nth-of-type(3) img {
	width: 90%;
	padding: 4em 4em 0 4em;
}


main section:nth-of-type(2) h2 {
	display: hidden;
}



main section:nth-of-type(4) img {
	width: 90%;
	padding: 4em;
}

main section:nth-of-type(5) img {
	width: 90%;
	padding: 4em;
}

main section:nth-of-type(8) img {
	width: 90%;
	padding: 4em 4em 0 4em;
}

main section:last-child img {
	width: 100%;
	padding: 4em 4em 0 4em;
}

main section:nth-of-type(3),
section:nth-of-type(4),
section:nth-of-type(5),
section:nth-of-type(7) {
	background: #D4D6DC;
	background: linear-gradient(180deg, rgb(240, 240, 240) 0%, rgba(255, 255, 255, 1) 60%);
}

main section:nth-of-type(6) {
	background-color: rgba(0, 0, 0, 0.332);
	position: relative;
	z-index: -1;
}

main section:nth-of-type(6)>div {
	display: flex;
	flex-direction: column;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%);
	align-items: center;
	position: absolute;
	bottom: 0;
	padding-bottom: 1em;
}

main section:nth-of-type(3) p,
section:nth-of-type(4) p,
section:nth-of-type(5) p,
section:nth-of-type(7) p {
	color: #6E6E72;
}

main section:nth-of-type(6) p {
	color: white;
}

main a {
	border: 1px white solid;
	border-radius: 50px;
	padding: 0.5em;
	font-size: 17px;
	text-decoration: none;
	line-height: 24px;
	color: white;
	text-align: center;
	width: 50%;
}

.home main section:nth-of-type(3) a,
section:nth-of-type(4) a,
section:nth-of-type(5) a,
section:nth-of-type(7) a {
	border: 1px black solid;
	color: black;
}

.subtext {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 2em 0;
	line-height: 1.5em;
	width: 75%;
}

.subtext p {
	font-size: 17px;
}

h1 {
	display: hidden;
}

main section:nth-of-type(3) h2 {
	color: black;
	padding-top: 1.5em;
	padding-bottom: 0.5em;
	font-size: 40px;
	background-image: linear-gradient(180deg, rgb(76, 90, 99) 50%, rgb(201, 201, 201) 100%);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

.home main section:nth-of-type(4) h2 {
	color: black;
	padding-top: 1.5em;
	padding-bottom: 0.5em;
	font-size: 40px;
	background-image: linear-gradient(90deg, rgba(174, 118, 204, 1) 0%, rgba(116, 137, 206, 1) 50%, rgba(80, 156, 75, 1) 100%);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

main section:nth-of-type(5) h2 {
	color: black;
	padding-top: 1.5em;
	padding-bottom: 0.5em;
	font-size: 40px;
}

main section:nth-of-type(6) h2 {
	color: white;
	padding-top: 1.5em;
	padding-bottom: 0.5em;
	font-size: 40px;
}

main section:nth-of-type(7) h2 {
	color: black;
	padding-top: 1.5em;
	padding-bottom: 0.5em;
	font-size: 40px;
}

main section:last-child h2 {
	color: white;
	padding-top: 1.5em;
	padding-bottom: 0.5em;
	font-size: 40px;
}

video {
	width: 100%;
}

footer {
	background-color: #1D1D1F;
	color: #FFFFFF8F;
}

footer a {
	display: flex;
	color: #FFFFFF8F;
	text-decoration: none;
	padding: .5em;
}

footer ul {
	padding-top: 1em;
	padding-left: 1em;
}

footer ul li {
	font-size: 12px;
}

footer ul img {
	width: 2em;
	padding-left: .2em;
}

footer ol li {
	padding: 0 .5em 1em 0;
	font-size: 12px;
}

footer ol {
	padding: 2em;
}

footer p {
	line-height: 18px;
}

footer section>p {
	padding: .5em 1em;
	font-size: 12px;
}

main section ul {
	padding-bottom: 2em;
}


/* #region ---STORE--- styling */

.store {
	background-color: #F5F5F7;
}

.store main section {
    background: #F5F5F7;
}

.store main section span {
	color: rgb(0, 0, 0);
}

.store nav {
	background-color: #f5f5f7ce;
}
.store nav img {
	width: 1.1em;
	filter: none;
	filter: opacity(65%);
}
.store nav button img {
	width: 1.8em;
}

.store .top-banner {
	background-color: white;
	height: 5em;
	display: flex;
	justify-content: center;
	padding: 1em;
}

.store .top-banner p {
	color: rgb(80, 80, 80);
	font-size: 15px;
	width: 90%;
	line-height: 20px;
}


.store main section h1 {
	padding: 1.8em .7em 0.5em;
	line-height: 38px;
	color: rgb(110, 110, 110);
}

.store .store-intro {
	display: flex;
	justify-content: start;
}

.store .store-help, .apple-store {
	display: flex;
	justify-content: start;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	gap: 1em;
	padding: 0.5em 1.5em;
}

.store .store-help img {
	width: 2.2em;
	padding: 0;
}

.store .apple-store svg {
	width: 2.2em;
}

.store .store-intro h2 {
	font-size: 0.9em;
	color: black;
	padding: 0;
}

.store a {
	border: none;
	color: #0066cc;
	font-size: 0.9em;
	padding: 0;
}

.store .carousel-small {
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
}

.store .carousel-small::-webkit-scrollbar {
	display: none;
}

.store .carousel-small img {
	padding: 0;
	width: 6.5em;
}

.store .carousel-small ul {
	width: 100%;
	padding: 1.6em;
	margin-top: 1.2em;
}

.store .carousel-small li {
	text-align: center;
}

.store .carousel-small span {
	font-weight: 900;
}

.store .carousel-large>h2 {
	padding: 1.4em 1em 0.5em;
	color: rgb(110, 110, 110);
	font-size: 1.6em;
}

.store .carousel-large article {
	position: relative;
	width: 20em;
	height: 29em;
	padding: 1em 1.8em;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	border-radius: 18px;
}

.store .carousel-large article img:first-of-type {
	position: absolute;
	border-radius: 18px;
	top: 0;
	left: 0;
	padding: 0;
	width: 100%;
	height: auto;
	object-fit: cover;
}


.store .carousel-large:nth-of-type(5) ul li article {
	background-color: white;
}

.store .carousel-large:nth-of-type(5) article img:first-of-type {
	position: static;
	padding: 3em 2em 0;
}

.store .carousel-large:nth-of-type(5) article img:last-of-type {
	position: relative;
	width: 100%;
}

.store .carousel-large article img:last-of-type {
	position: absolute;
}

.store .carousel-large:nth-of-type(5) ul li:first-of-type article img:first-of-type {
	position: absolute;
	padding: 0;
}

.store .carousel-large li article h2,
.store .carousel-large li article h3,
.store .carousel-large li article p {
  color: black;
  text-align: start;
  position: relative;
  width: 12.9em;
}

.store .carousel-large:nth-of-type(5) li article p {
	position: absolute;
	bottom: 2em;
}

.store section:nth-of-type(4) li:nth-of-type(1) article h2,
.store section:nth-of-type(4) li:nth-of-type(1) article h3,
.store section:nth-of-type(4) li:nth-of-type(1) article p,
.store section:nth-of-type(4) li:nth-of-type(6) article h2,
.store section:nth-of-type(4) li:nth-of-type(6) article h3,
.store section:nth-of-type(4) li:nth-of-type(6) article p {
  color: white;
}

.store .carousel-large article h2 {
	font-size: 1.4em;
	padding: 1.5em 0 0;
}

.store .carousel-large h3 {
	font-size: 1.1em;
	padding: .3em 0;
}

.store .carousel-large p {
	font-size: .9em;
}

.store .carousel-large img {
	width: 2em;
	padding: .5em 0;
}

.store .carousel-large ul {
	display: flex;
	width: 100%;
	gap: 1.2em;
  	overflow-x: auto;
  	overflow-y: hidden;
	padding: 1.4em;
}

.store .carousel-large ul::-webkit-scrollbar {
	display: none;
}

.store .carousel-large:nth-of-type(6) {
	position: static;
}

.store .carousel-large:nth-of-type(6) p {
	padding: .4em 0 .1em;
}

.store .carousel-large:nth-of-type(6) ul li:nth-of-type(2) article p:last-child {
	font-size: 1.1em;
	padding: 0;
	width: 100%;
}

.store .carousel-large:nth-of-type(6) h3 {
	font-size: 1.4em;
}

/* #endregion */