@font-face {
	font-family: "San Francisco";
	font-weight: 400;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

* {
	font-family: "San Francisco", sans-serif;
}

/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
* {
	margin: 0;
	padding: 0;
}

header {
	background: transparent;
	backdrop-filter: blur(10px);
	position: fixed;
	top: 0px;
	width: 100%;
}

nav {
	display: flex;
	justify-content: space-between;
	padding-left: 1em;
	background-color: #181818ce;
	height: 3em;
}

nav a {
	display: flex;
}

nav img {
	width: 1.1em;
	filter: invert();
}

ul {
	display: flex;
	align-items: center;
	list-style: none;
}

nav button {
	border: none;
	background: transparent;
	padding: 0 1em;
}

nav button img {
	width: 1.8em;
}

main section {
	display: flex;
	justify-content: start;
	flex-direction: column;
	background-color: black;
	align-items: center;
}

main section:first-child {
	height: 55em;
}

main section p {
	color: rgba(255, 255, 255, 0.5);
	font-size: 21px;
	width: 75%;
	text-align: center;
	font-weight: 900;
}

main section:first-child p {
	padding: 1em 0;
}

main section:first-child img {
	width: 95%;
	padding-top: 3em;
}

main section:nth-of-type(2) img {
	width: 75%;
	padding: 2em;
}


main section:nth-of-type(2) img:last-child {
	width: 100%;
	padding: 1em 4em 0 4em;
}

main section:nth-of-type(3) img {
	width: 90%;
	padding: 4em 4em 0 4em;
}


main section:nth-of-type(2) h2 {
	display: hidden;
}



main section:nth-of-type(4) img {
	width: 90%;
	padding: 4em 4em 0 4em;
}

main section:nth-of-type(5) img {
	width: 90%;
	padding: 4em;
}

main section:nth-of-type(8) img {
	width: 90%;
	padding: 4em 4em 0 4em;
}

main section:last-child img {
	width: 100%;
	padding: 4em 4em 0 4em;
}

main section:nth-of-type(3),
section:nth-of-type(4),
section:nth-of-type(5),
section:nth-of-type(7) {
	background: #D4D6DC;
	background: linear-gradient(180deg, rgba(212, 214, 220, 1) 0%, rgba(255, 255, 255, 1) 60%);
}

main section:nth-of-type(6) {
	background-color: rgba(0, 0, 0, 0.332);
	position: relative;
	z-index: -1;
}

main section:nth-of-type(6)>div {
	display: flex;
	flex-direction: column;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%);
	align-items: center;
	position: absolute;
	bottom: 0;
	padding-bottom: 1em;
}

main section:nth-of-type(3) p,
section:nth-of-type(4) p,
section:nth-of-type(5) p,
section:nth-of-type(7) p {
	color: #6E6E72;
}

main section:nth-of-type(6) p {
	color: white;
}

main a {
	border: 1px white solid;
	border-radius: 50px;
	padding: 0.5em;
	font-size: 17px;
	text-decoration: none;
	line-height: 24px;
	color: white;
	text-align: center;
	width: 50%;
}

main section:nth-of-type(3) a,
section:nth-of-type(4) a,
section:nth-of-type(5) a,
section:nth-of-type(7) a {
	border: 1px black solid;
	color: black;
}

.subtext {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 2em 0;
	line-height: 1.5em;
	width: 75%;
}

.subtext p {
	font-size: 17px;
}

h1 {
	display: hidden;
}

main section:nth-of-type(3) h2 {
	color: black;
	padding-top: 1.5em;
	padding-bottom: 0.5em;
	font-size: 40px;
	background-image: linear-gradient(180deg, rgb(76, 90, 99) 50%, rgb(201, 201, 201) 100%);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

main section:nth-of-type(4) h2 {
	color: black;
	padding-top: 1.5em;
	padding-bottom: 0.5em;
	font-size: 40px;
	background-image: linear-gradient(90deg, rgba(174, 118, 204, 1) 0%, rgba(116, 137, 206, 1) 50%, rgba(80, 156, 75, 1) 100%);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

main section:nth-of-type(5) h2 {
	color: black;
	padding-top: 1.5em;
	padding-bottom: 0.5em;
	font-size: 40px;
}

main section:nth-of-type(6) h2 {
	color: white;
	padding-top: 1.5em;
	padding-bottom: 0.5em;
	font-size: 40px;
}

main section:nth-of-type(7) h2 {
	color: black;
	padding-top: 1.5em;
	padding-bottom: 0.5em;
	font-size: 40px;
}

main section:last-child h2 {
	color: white;
	padding-top: 1.5em;
	padding-bottom: 0.5em;
	font-size: 40px;
}

video {
	width: 100%;
}

footer {
	background-color: #1D1D1F;
	color: #FFFFFF8F;
}

footer a {
	display: flex;
	color: #FFFFFF8F;
	text-decoration: none;
	padding: .5em;
}

footer ul {
	padding-top: 1em;
	padding-left: 1em;
}

footer ul li {
	font-size: 12px;
}

footer ul img {
	width: 2em;
	padding-left: .2em;
}

footer ol li {
	padding: 0 .5em 1em 0;
	font-size: 12px;
}

footer ol {
	padding: 2em;
}

footer p {
	line-height: 18px;
}

footer section>p {
	padding: .5em 1em;
	font-size: 12px;
}

main section ul {
	padding-bottom: 2em;
}